html {
    background-color: #000;
    background-image: url('/assets/bg-desktop.png');
    background-image: -webkit-image-set(url('/assets/bg-desktop.webp') type('image/webp') 1x, url('/assets/bg-desktop.png') 1x);
    background-image: image-set(url('/assets/bg-desktop.webp') type('image/webp') 1x, url('/assets/bg-desktop.png') 1x);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    font-family: "Noto Sans", sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-navbar {
    display: none;
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 48em) and (orientation: portrait) {
    html {
        background-image: url('/assets/bg-mobile.png');
        background-image: -webkit-image-set(url('/assets/bg-mobile.webp') type('image/webp') 1x, url('/assets/bg-mobile.png') 1x);
        background-image: image-set(url('/assets/bg-mobile.webp') type('image/webp') 1x, url('/assets/bg-mobile.png') 1x);
        background-attachment: scroll;
    }
}

a {
    color: #589df6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #3a78c1;
}

ul.no-bullets {
    list-style: none;
}

.bold {
    font-weight: bold;
}

ul img {
    vertical-align: text-top;
    margin-right: 0.5rem;
    margin-top: 0.125rem;
}

.window {
    border: 0.0625rem solid #4c4e51;
    border-radius: 0.4375rem;
    overflow: hidden;
    min-width: 100vh;
    background-color: #202326;
    margin-top: 2em;
}

.titlebar {
    background-color: #292c30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.875rem;
    padding: 0 0.3125rem;
}

.window-controls {
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.title {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.0125rem;
}

.content {
    padding: 0.5rem 2.5rem;
}

.window-icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

@media (max-width: 48em) {
    .titlebar {
        display: none;
    }

    html {
        align-items: flex-start;
    }

    .window {
        margin: 0;
        min-width: auto;
        width: 100vw;
        box-sizing: border-box;
        border-radius: 0;
    }

    .content {
        padding: 0.75rem 1rem;
    }

    body {
        margin: 0;
    }

    .mobile-navbar {
        display: block;
    }
}